{% extends 'mylib/base.html' %}
{% load ratings %}
{% block content %}
<br>
{{ settings.DEBUG }}
<form method="get">
  <div class="row">
    <div class="form-group">
      {{ filter.form.title.label_tag }}
      {{ filter.form.title }}
    </div>
    <div class="form-group">
      {{ filter.form.authors.label_tag }}
      {{ filter.form.authors }}
    </div>
    <div class="form-group">
      {{ filter.form.year.label_tag }}
      {{ filter.form.year }}
    </div>
    <div class="form-group">
      {{ filter.form.publishing.label_tag }}
      {{ filter.form.publishing }}
    </div>
    <div class="form-group">
      {{ filter.form.o.label_tag }}
      {{ filter.form.o }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">
     Search
  </button>
</form>

<br>
<table class="table">
    <thead class="table table-hover">
      <tr>
          <th>Book title</th>
          <th>Year</th>
          <th>Authors</th>
          <th>Genres</th>
          <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
            <td class="align-middle">
                <a href="{% url 'book_info' book.id %}">{{ book.title }}</a>
            </td>
            <td class="align-middle">
                {{ book.year }}
            </td>
            <td>
                <ul class="list-unstyled">
                    {% for author in book.authors.all %}
                        <li><a href="{% url 'author_info' author.pk %}">{{ author.short_name }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    {% for g in book.genre.all|slice:"0:3" %}
                        <li>{{ g.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {% ratings book %}
            </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% include 'mylib/pagination.html' %}

{% endblock %}