{% extends 'mylib/base.html' %}
{% load humanize %}
{% load static %}
{% load ratings %}
{% load mptt_tags %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'mylib/style.css' %}">
{% endblock %}
{% block content %}
    <h3>{{ book.title }}</h3>
    <img src="{{ book.cover.url }}">
    {% ratings book %}
    <p>Authors:
        <ul>{% for author in book.authors.all %}<li>{{ author.full_name }}</li>{% endfor %}</ul>
    <p>Genre:
        <ul>{% for g in book.genre.all %}<li>{{ g }}</li>{% endfor %}</ul>
    </p>
    <p>Year: {{ book.year }}</p>
    <p>Count of pages: {{ book.number_page }}</p>
    <p>Publisher: {{ book.publishing }}</p>
    <p>Description: {{ book.description }}</p>

    <hr>

    {% if user.is_authenticated %}
    <form method="post" id="postcomment" class="comment-form">
        {% csrf_token %}
          {{ form.as_p }}
        <button type="submit" class="btn btn-success">Comment</button>
    </form>
    {% endif %}

    <ul id="comments">
        {% recursetree comments %}
            <li id="{{ node.pk }}" class="comment">
                <p class="author">{{ node.author }} - {{node.created_at|naturaltime}}</p>
                <p class="text">{{ node.text|linebreaks }}</p>
                {% if user.is_authenticated %}
                <p><a href="" class="reply">reply</a></p>
                {% endif %}
                {% if not node.is_leaf_node %}
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
{% endblock %}
{% block script %}
    <script src="{% static 'mylib/js/script.js' %}"></script>
{% endblock %}