 a {
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

#comments {
    padding-left: 0px;
}

#comments li {
    list-style-type: none;
}

.author {
    font-size: 12px;
}

.text {
    font-size: 14px;
}